body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
}

article {
  /* background-color: rgb(217, 217, 217); */
  background-color: rgb(248, 253, 248);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Frame {
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 2%;
}

.Frame img {
  display: block;
}
.CoverPic {
  width: 100%;
  opacity: 0.9;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(122, 122, 122);
}

.OverlayText {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  box-shadow: 3px 3px 5px 5px rgb(24, 24, 24);
  width: fit-content;
  color: #000000;
  padding: 0.1vw 2vw;
  font-size: 5vw;
  text-align: center;
}
.glass {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 2%;
  margin: 2%;
  box-shadow: 5px 5px 5px 5px rgb(122, 122, 122);
}

aside {
  /* background-color:  rgb(217, 217, 217); */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* background: linear-gradient( to bottom, gray, rgb(216, 216, 216)); */
  
}

.welcomeBox {
  /* border: solid 2px black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 2%;
}

/* footer{
  height: 10vh;
} */

footer {
  /* background: linear-gradient( to bottom, rgb(217, 217, 217) ,gray); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  /* background: linear-gradient( to bottom, rgb(37, 37, 37), gray); */
  background: linear-gradient(
    to bottom,
    rgb(152, 222, 230),
    rgb(242, 254, 254)
  );
  /* padding: 20px; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  background: linear-gradient(
    to bottom,
    rgb(242, 254, 254),
    rgb(255, 255, 255)
  );
}

.logoS{
  transition: transform 1s, filter 1s;
}
.logoS:hover {
  transform: scale(1.2);
  filter: drop-shadow(2px 2px 2px rgb(122, 122, 122));
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
}

li {
  margin-right: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}

li p {
  font-weight: bold;
  transition: transform 1s, text-shadow 1s;
}

li p:hover {
  transform: scale(1.2);
  text-shadow: 2px 2px 2px rgb(122, 122, 122);
}

a {
  color: black;
  text-decoration: none;
}

.center {
  text-align: center;
  justify-content: center;
}

@media (max-width: 768px) {
  header div h1 {
    font-size: 1.5rem;
  }
}
